<%- include("header") -%>

<h1>This is the about page.</h1>

<p>asdf fgjir sbiufev fhuehfd eufh db uf djfb ef kfs fyef ad feyf dksf esf  feusf skfuhs kfsdf fsue jhdfus fb sufdnfbshf sfsiu fs.</p>

<%- include("footer") -%>
